body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

/* Typography */

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

p {
    font-size: 1.25rem;
}

.estimate-total {
    font-weight: 700;
}

.section1 p:last-of-type,
.section2 p:last-of-type {
    font-weight: 700;
}

/* Layout */

header {
    display: flex;
    justify-content: space-between;
}

.info,
.address {
    display: flex;
    flex-direction: column;
}

header p,
.address p {
    margin: 0 0 .25em 0;
}

.address p:last-of-type {
    margin-bottom: .5em;
}

/* Tables */

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin: 0 auto;
}

tr th {
    font-size: 10px;
    text-align: center;
    padding: .5em 3em;
}

tr td {
    font-size: 10px;
    text-align: center;
    padding: 1.5em 3em;
}
