<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Good Faith Estimate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Life Resources Good Faith Estimate</h1>
        <header>
            <p><strong>Client name:</strong> {{ client.first_name }} {{ client.last_name }}</p>
            <p><strong>Date of birth:</strong> {{ client.date_of_birth }}</p>
            <p><strong>Therapist providing services:</strong> {{ therapist.full_name_and_license() }}</p>

            <p><strong>EIN:</strong> {{ therapist.tax_id }}</p>
            <p><strong>NPI:</strong> {{ therapist.npi }}</p>
            <p><strong>Date of estimate:</strong> {{ time.timestamp_formatted }}</p>
        </header>
        <div class="section1">
            {% for line in text.section1 %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
       <div class="section2">
            {% for line in text.section2 %}
            <p>{{ line }}</p>
            {% endfor %}
            <br>
        </div>
        <div>
            <h2>Itemized estimate for 12 session course of treatment</h2>
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Service code</th>
                        <th>Diagnosis</th>
                        <th>Cost</th>
                        <th>Quantity</th>
                        <th>Estimate</th>
                    </tr>
                </thead>
                <tbody>
                    {% if service.new_or_update == "Update" %}
                    <tr>
                        {% for item in service.update_low_estimate_table_rows(client) %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                    {% else %}
                        {% for row in service.new_low_estimate_table_rows() %}
                    <tr>
                        {% for item in row %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <h2>Itemized estimate for 24 session course of treatment</h2>
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Service code</th>
                        <th>Diagnosis</th>
                        <th>Cost</th>
                        <th>Quantity</th>
                        <th>Estimate</th>
                    </tr>
                </thead>
                <tbody>
                    {% if service.new_or_update == "Update" %}
                    <tr>
                    {% for item in service.update_high_estimate_table_rows(client) %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                    {% else %}
                        {% for row in service.new_high_estimate_table_rows() %}
                    <tr>
                        {% for item in row %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% if service.new_or_update == "Update" %}
            <p class="estimate-total">Estimate Range: ${{ service.update_gfe_low_total_estimate() }}-{{ service.update_gfe_high_total_estimate() }}
            {% else %}
            <p class="estimate-total">Estimate Range: ${{ service.new_gfe_low_total_estimate() }}-{{ service.new_gfe_high_total_estimate() }}
            {% endif %}
            <div class="address">
                <p><strong>Address where services will be provided:</strong></p>
                {% for line in service.get_address() %}
                <p>{{ line }}</p>
                {% endfor %}
            </div>
        </div>

    </body>
</html>
